<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${pizzaOrder.id} == 0 ? 'New order' : 'Update the order'">Add or update order</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="container-form">

    <h3 class="above-form" th:text="${pizzaOrder.id} == 0 ? 'Nowe zamówienie' : 'Zmodyfikuj zamówienie'">Add or update
      order</h3>

    <form class="form-add-or-update" action="#" th:object="${pizzaOrder}"
      th:action="@{/orders/{action}(action=(${pizzaOrder.id} == 0 ? 'add' : 'update'))}" method="POST">

      <input th:if="*{id} > 0" hidden type="text" th:field="*{id}" />
      <input hidden type="text" th:field="*{orderDate}" />
      <input hidden type="text" th:field="*{status}" />
      <input hidden type="text" th:field="*{pizza}" />
      <input hidden type="text" th:field="*{user}" />

      <div class="app-form-row">
        <h5 class="mb-0">
          <span style="font-weight: normal">Pizza: </span><span th:text="*{pizza.pizzaName}"></span>
        </h5>
      </div>

      <!-- <h5 class="mb-2a">
        <span style="font-weight: normal">Pizza: </span><span th:text="*{pizza.pizzaName}"></span>
      </h5> -->

      <div>
        <div class="mb-1">Wybierz wielkość pizzy:</div>
        <div class="pl-3" th:each="size : ${allSizes}">
          <input type="radio" th:field="*{pizzaSize}" th:value="${size}">
          <label class="mb-1" th:for="${#ids.prev('pizzaSize')}" th:text="${size.polishName}"></label>
        </div>
      </div>

      <div class="app-form-row mt-2a">
        <label class="app-form-row__label--order" for="quantity">Ile sztuk?</label>
        <input type="number" class="app-form-row__input--order-quantity" min="1" th:field="*{quantity}" title="Ile pizz zamawiasz?" autofocus/>
        <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></div>
      </div>

      <div class="form-bottom-btns">
        <a class="btn btn-secondary" th:href="@{/orders/list}">Wróć do listy zamówień</a>
        <input th:if="${pizzaOrder.id == 0}" class="btn btn-success" type="submit" value="Złóż zamówienie">
        <input th:if="${pizzaOrder.id > 0}" class="btn btn-success" type="submit" value="Zapisz">
      </div>
    </form>
  </div>
</body>

</html>