<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home.html}">

<head>
  <title>Change order status</title>
</head>

<body>
  <div layout:fragment="content" class="container-form">

    <h3 class="above-form">Zmień status zamównienia</h3>

    <form class="form-add-or-update" action="#" th:action="@{/orders/change-status}" th:object="${pizzaOrder}"
      method="POST">

      <input hidden type="text" th:field="*{id}" />
      <input hidden type="text" th:field="*{orderDate}" />
      <input hidden type="text" th:field="*{pizza}" />
      <input hidden type="text" th:field="*{quantity}" />
      <input hidden type="text" th:field="*{pizzaSize}" />
      <input hidden type="text" th:field="*{user}" />

      <div class="app-form-row">
        Pizza:&ensp;<span th:text="*{pizza.pizzaName}" style="font-weight: 600">Nazwa pizzy</span>
      </div>

      <div class="app-form-row">
        Rozmiar:&ensp;<span th:text="*{pizzaSize.polishName}" style="font-weight: 600">Wielkość pizzy</span>
      </div>

      <div class="app-form-row">
        Liczba pizz:&ensp;<span th:text="*{quantity}" style="font-weight: 600">Liczba pizz</span>
      </div>

      <div class="app-form-row">
        <label class="app-form-row__label--order-status">Status zamównienia:</label>
        <select class="app-form-row__select" th:field="*{status}" autofocus style="align-self: center">
          <option th:each="status : ${allStatuses}" th:value="${status}" th:text="${status.polishName}"></option>
        </select>
      </div>

      <div class="form-bottom-btns">
        <a class="btn btn-secondary" th:href="@{/orders/list}">Wróć do listy zamówień</a>
        <input class="btn btn-success" type="submit" value="Zapisz">
      </div>
    </form>
  </div>
</body>

</html>