<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change order status</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="main-container">

    <h2 class="above-form">Zmień status zamównienia</h2>

    <form class="form-add-or-update" action="#" th:action="@{/orders/change-status}" th:object="${pizzaOrder}"
      method="POST">

      <input hidden type="text" th:field="*{id}" />
      <input hidden type="text" th:field="*{orderDate}" />
      <input hidden type="text" th:field="*{pizza}" />
      <input hidden type="text" th:field="*{quantity}" />
      <input hidden type="text" th:field="*{pizzaSize}" />
      <input hidden type="text" th:field="*{user}" />

      <div>Pizza: </div>
      <div th:text="*{pizza.pizzaName}">Pizza name</div>

      <div>Rozmiar: </div>
      <div th:text="*{pizzaSize.polishName}">Wielkość pizzy</div>

      <div>Liczba pizz: </div>
      <div th:text="*{quantity}">Liczba pizz</div>

      <div>Status zamównienia:</div>
      <select th:field="*{status}" autofocus style="align-self: center">
        <option th:each="status : ${allStatuses}" th:value="${status}" th:text="${status.polishName}"></option>
      </select>

      <div class="form-bottom-btns" style="grid-column: 1/3">
        <a class="btn btn-secondary" th:href="@{/orders/list}">Wróć do listy zamówień</a>
        <input class="btn btn-success" type="submit" value="Zapisz">
      </div>
    </form>
  </div>
</body>

</html>