<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Orders</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="main-container">

    <div class="above-table">
      <h2>Zamówienia</h2>

      <h3>
        <a th:href="@{add}" class="above-table__link">
          Nowe zamówienie
        </a>
      </h3>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Data zamówienia</th>
          <th>Status</th>
          <th>Nazwa pizzy</th>
          <th>Wielkość</th>
          <th>Liczba pizz</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pizzaOrder, itemStat : ${pizzaOrders}">
          <td th:text="${itemStat.index + 1}"></td>
          <td th:text="${{pizzaOrder.orderDate}}"></td>
          <td th:text="${pizzaOrder.status.polishName}"></td>
          <td th:text="${pizzaOrder.pizza.pizzaName}"></td>
          <td th:text="${pizzaOrder.pizzaSize.polishName}"></td>
          <td th:text="${pizzaOrder.quantity}"></td>
          <td>
            <span th:if="${pizzaOrder.status == T(com.hydro17.pizzaservice.enums.PizzaOrderStatus).ORDERED}">
              <a th:href="@{update/{orderId}(orderId=${pizzaOrder.id})}"><i class="far fa-edit"></i></a>
              <span>&nbsp;</span>
              <a th:href="@{delete/{orderId}(orderId=${pizzaOrder.id})}"><i class="far fa-trash-alt"></i></a>
              <span>&nbsp;</span>
            </span>
            <a th:href="@{change-status/{orderId}(orderId=${pizzaOrder.id})}">Zmień&nbsp;status</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <script th:src="@{/js/current-pizza-order-status.js}"></script>
</body>

</html>