<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Orders</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home-page :: menu-container"></div>

  <div class="main-container">

    <h2 class="mb-3">Zamówienia</h2>

    <a th:href="@{add}">
      <h3>Nowe zamówienie</h3>
    </a>

    <table class="table table-striped border-bottom">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Id zamówienia</th>
          <th>Status</th>
          <th>Nazwa pizzy</th>
          <th>Rozmiar</th>
          <th>Liczba</th>
          <th>E-mail klienta</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pizzaOrder, itemStat : ${pizzaOrders}">
          <td th:text="${itemStat.index + 1}"></td>
          <td th:text="${pizzaOrder.id}"></td>
          <td class="text-lowercase" th:text="${pizzaOrder.status}"></td>
          <td th:text="${pizzaOrder.pizza.name}"></td>
          <td class="text-lowercase" th:text="${pizzaOrder.pizzaSize}"></td>
          <td th:text="${pizzaOrder.quantity}"></td>
          <td th:text="${pizzaOrder.customer.email}"></td>
          <td>
            <a th:href="@{delete/{orderId}(orderId=${pizzaOrder.id})}">Usuń</a>
            <span> | </span>
            <a th:href="@{update/{orderId}(orderId=${pizzaOrder.id})}">Edytuj</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</body>

</html>