<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List orders</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="main-container">

    <h2 class="mb-3">Zamówienia</h2>

    <a th:href="@{add}">
      <h3>Nowe zamówienie</h3>
    </a>

    <table class="table table-striped border-bottom">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Status</th>
          <th>Nazwa pizzy</th>
          <th>Rozmiar</th>
          <th>Liczba</th>
          <th>E-mail klienta</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pizzaOrder, itemStat : ${pizzaOrders}">
          <td th:text="${itemStat.index + 1}"></td>
          <td class="text-lowercase" th:text="${pizzaOrder.status}"></td>
          <td th:text="${pizzaOrder.pizza.pizzaName}"></td>
          <td class="text-lowercase" th:text="${pizzaOrder.pizzaSize}"></td>
          <td th:text="${pizzaOrder.quantity}"></td>
          <td th:text="${pizzaOrder.customer.email}"></td>
          <td>
            <div th:if="${pizzaOrder.status == T(com.hydro17.pizzaservice.enums.PizzaOrderStatus).ORDERED}">
              <a th:href="@{update/{orderId}(orderId=${pizzaOrder.id})}"><i class="far fa-edit"></i></a>
              <span>&nbsp;</span>
              <a th:href="@{delete/{orderId}(orderId=${pizzaOrder.id})}"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <script th:src="@{/js/current-pizza-orer-status.js}"></script>
</body>

</html>