.metadata
bin/
tmp/
target/
src/main/resources/config/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

src/main/java/com/hydro17/pizzaservice/controller/PersonController.java
src/main/resources/templates/show-drinks-form.html
src/main/java/com/hydro17/pizzaservice/conversion/StringIdToDrinkConverter.java
src/main/java/com/hydro17/pizzaservice/model/Drink.java
src/main/java/com/hydro17/pizzaservice/model/EnumDrink.java
src/main/java/com/hydro17/pizzaservice/model/Person.java
src/main/java/com/hydro17/pizzaservice/model/PersonDTO.java
src/main/java/com/hydro17/pizzaservice/MostCommonString.java
src/main/java/com/hydro17/pizzaservice/Test.java
