<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="main-container">

    <h2 class="mb-3">Użytkownicy</h2>

    <a th:href="@{/register-user}">
      <h3>Dodaj użytkownika</h3>
    </a>

    <table class="table table-striped border-bottom">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Nazwa</th>
          <th>E-mail</th>
          <th>Rola</th>
          <th>Akcja</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user, itemStat : ${users}">
          <td th:text="${itemStat.index + 1}">nr</td>
          <td th:text="${user.name}">nazwa</td>
          <td th:text="${user.email}">e-mail</td>
          <td th:text="${user.role.name}">rola</td>
          <td>
            <a th:href="@{update/{userId}(userId=${user.id})}"><i class="far fa-edit"></i></a>
            <span>&nbsp;</span>
            <a th:href="@{delete/{userId}(userId=${user.id})}"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>