<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${user.id} == 0 ? 'Zrejestruj się' : 'Edytuj dane użytkownika'">Zrejestruj się lub edytuj dane klienta
  </title>
  <meta th:replace="fragments :: global-styles">
</head>

<body class="center-center">
  <div class="container-form--login-register">

    <div class="mb-3">
      <h3 th:if="${user.id == 0}" th:text="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'Dodaj nowego użytkownika' : 'Zrejestruj się'">Add new user or register yourself</h3>

      <h3 th:if="${user.id > 0}">Edytuj dane użytkownika</h2>
    </div>

    <form class="form-login-register" action="#"
      th:action="@{/{action}(action=(${user.id} == 0 ? 'register-user' : 'users/update'))}" th:object="${user}"
      method="POST">

      <input th:if="${user.id > 0}" type="text" th:field="*{id}" hidden />

      <div class="app-form-row">
        <label class="app-form-row__label--login-register" for="firstName">Nazwa: </label>
        <div class="app-form-row__input">
          <input type="text" required minlength="1" th:field="*{name}" placeholder="Nazwa użytkownika (1-20 znaków)" />
          <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">nazwa powinna składać się z co najmniej 1 znaku</div>
        </div>
      </div>

      <div class="app-form-row">
        <label class="app-form-row__label--login-register" for="email">E-mail: </label>
        <div class="app-form-row__input">
          <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" th:field="*{email}" placeholder="Poprawny adres e-mail"/>
          <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">podany adres e-mail jest niepoprawny</div>
        </div>
      </div>

      <!-- START: PASSWORD displayed conditionally -->
      <div th:if="*{id == 0}" class="app-form-row">
        <label class="app-form-row__label--login-register" for="password">Hasło: </label>
        <div class="app-form-row__input">
          <input type="password" required minlength="7" th:field="*{password}" placeholder="Co najmniej 7 znaków"/>
          <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">hasło powinno składać się z co najmniej 7 znaków</div>
        </div>
      </div>

      <input th:if="*{id > 0}" hidden type="text" th:field="*{password}" />
      <!-- END: PASSWORD -->

      <!-- START: ROLES displayed conditionally-->
      <input sec:authorize="!hasRole('ROLE_ADMIN')" hidden type="text" th:field="*{role}" />

      <div sec:authorize="hasRole('ROLE_ADMIN')" class="app-form-row">
        <label class="app-form-row__label--login-register" for="role">Rola: </label>
        <select class="app-form-row__select" th:field=*{role}>
          <option th:each="roleItem : ${allRoles}" th:value="${roleItem.id}" th:text="${roleItem.name}">rola</option>
        </select>
      </div>
      <!-- END: ROLES -->

      <div class="form-bottom-btns">
        <a sec:authorize="!hasRole('ROLE_ADMIN')" class="btn btn-secondary mr-2" th:href="@{/login}">Wróć do do
          logowania</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary mr-2" th:href="@{/users/list}">Wróć do listy
          użytkowników</a>
        <input th:if="${user.id == 0}" class="btn btn-success" type="submit" value="Utwórz konto">
        <input th:if="${user.id > 0}" class="btn btn-success" type="submit" value="Zapisz">
      </div>
    </form>

  </div>
</body>

</html>