<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${user.id} == 0 ? 'Zrejestruj się' : 'Edytuj dane użytkownika'">Zrejestruj się lub edytuj dane klienta
  </title>
  <meta th:replace="fragments :: global-styles">
</head>

<body class="center-center">
  <div>

    <div class="mb-3">
      <h2 th:if="${user.id == 0}" th:text="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'Dodaj nowego użytkownika' : 'Zrejestruj się'">Add new user or register yourself</h2>

      <h2 th:if="${user.id > 0}" th:text="${'Edytuj dane użytkownika'}">Update user data</h2>
    </div>

    <form class="form-add-or-update" action="#"
      th:action="@{/{action}(action=(${user.id} == 0 ? 'register-user' : 'users/update'))}" th:object="${user}"
      method="POST">

      <input th:if="${user.id > 0}" type="text" th:field="*{id}" hidden />

      <label for="firstName">Nazwa: </label>
      <input type="text" th:field="*{name}" />

      <label for="email">E-mail: </label>
      <input type="text" th:field="*{email}" />

      <!-- START: PASSWORD displayed conditionally -->
      <label th:if="*{id == 0}" for="password">Hasło: </label>
      <input th:if="*{id == 0}" type="text" th:field="*{password}" />

      <input th:if="*{id > 0}" hidden type="text" th:field="*{password}" />
      <!-- END: PASSWORD -->

      <!-- START: ROLES displayed conditionally-->
      <input sec:authorize="!hasRole('ROLE_ADMIN')" hidden type="text" th:field="*{role}" />

      <label sec:authorize="hasRole('ROLE_ADMIN')" for="role">Rola: </label>
      <select sec:authorize="hasRole('ROLE_ADMIN')" th:field=*{role}>
        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}">rola</option>
      </select>
      <!-- END: ROLES -->

      <div class="form-bottom-btns" style="grid-column: 1/3">
        <a sec:authorize="!hasRole('ROLE_ADMIN')" class="btn btn-secondary mr-2" th:href="@{/login}">Wróć do do
          logowania</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary mr-2" th:href="@{/users/list}">Wróć do listy
          użytkowników</a>
        <input th:if="${user.id == 0}" class="btn btn-success" type="submit" value="Utwórz konto">
        <input th:if="${user.id > 0}" class="btn btn-success" type="submit" value="Zapisz">
      </div>
    </form>

  </div>
</body>

</html>