<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List all ingredients</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home-page :: menu-container"></div>

  <div class="main-container">

    <h2 class="mb-3">Ingredients</h2>

    <a th:href="@{add}">
      <h3>Add an ingredient</h3>
    </a>

    <table class="table table-striped border-bottom">
      <thead class="text-center">
        <tr>
          <th>Nr</th>
          <th>Nazwa</th>
          <th>Cena</th>
          <th>Akcja</th>
          <th>Uwagi</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ingredient, itemStat : ${ingredients}">
          <td th:text="${itemStat.index + 1}" class="text-right"></td>
          <td th:text="${ingredient.name}"></td>
          <td th:text="${ingredient.price}" class="text-right"></td>

          <td>
            <!-- <a th:href="@{update(id=${ingredient.id})}">Update</a> -->
            <!-- <a th:href="@{|update?id=${ingredient.id}|}">Update</a> -->
            <!-- <a th:href="@{|update/${ingredient.id}|}">Update</a> -->
            <a th:href="@{update/{ingredientId}(ingredientId=${ingredient.id})}">Update</a>
            <span> | </span>
            <a th:href="@{delete/{ingredientId}(ingredientId=${ingredient.id})}">Delete</a>
          </td>

          <td th:if="${ingredientComment} == null"></td>
          <td th:if="${ingredientComment} != null"
            th:text="${ingredient.id} == ${ingredientComment.id} ? ${ingredientComment.comment} : ''"></td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>