<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ingredients</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="main-container">

    <div class="above-table">
      <h2>Składniki</h2>

      <h3>
        <a th:href="@{add}" class="above-table__link">
          Dodaj nowy składnik
        </a>
      </h3>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Nazwa</th>
          <th>Cena</th>
          <th>Akcja</th>
          <th>Uwagi</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ingredient, itemStat : ${ingredients}">
          <td th:text="${itemStat.index + 1}"></td>
          <td th:text="${ingredient.ingredientName}"></td>
          <td th:text="${ingredient.price}"></td>

          <td>
            <a th:href="@{update/{ingredientId}(ingredientId=${ingredient.id})}"><i class="far fa-edit"></i></a>
            <span>&nbsp;</span>
            <a th:href="@{delete/{ingredientId}(ingredientId=${ingredient.id})}"><i class="far fa-trash-alt"></i></a>
          </td>

          <td th:if="${ingredientComment} == null"></td>
          <td th:if="${ingredientComment} != null"
            th:text="${ingredient.id} == ${ingredientComment.id} ? ${ingredientComment.comment} : ''"></td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>