
.top-bar {
  margin: 1em 0;
  background: rgba(217, 217, 217, 0.8);
}

.menu-container {
  display: flex;
}

.main-container, .menu-container {
  width: 80%;
  margin: 0 auto;
}

.menu {
  display: flex;
  padding: .5em 0;
}

.menu__link, .menu__separator {
  font-size: 1.3em;
}

.menu__link {
  position: relative;
  text-decoration: none;
  color: #000;
  z-index: 1;
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: .2em;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  z-index: -1;
  transition: transform .5s;
}

a:not([class*='menu__active-link']).menu__link:hover::after, 
a:not([class*='menu__active-link']).menu__link:focus::after {
  /* transform: scaleX(1); */
  animation: pulse 1s ease-in-out infinite alternate;
}

.menu__active-link::after {
  transform: scaleX(1);
}

@keyframes pulse {
  0% {transform: scaleX(0)}
  100% {transform: scaleX(1)}
}

.menu__link:hover {
  color: #000;
  text-decoration: none;
}

.menu__link:focus {
  outline: none;
}

.menu__separator {
  position: relative;
  top: -.1em;
}

.form-add-or-update {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  width: 500px;
  border: 1px solid black;
  border-radius: .3em;
  padding: 1em;
  background: rgb(245, 245, 245);
}

.form-element input {
  width: 100%;
}

.ingredients-list {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}

.ingredients-list li label {
  position: relative;
  top: -0.17em;
}

.error {
  color: red;
  font-size: .8em;
}

/* td {
  padding: .2em 0.4em;
}

.table-column-title {
  text-align: center;
  padding: .2em .4em;
}

tr:nth-child(2n) {
  background: #eee;
} */

.logged-customer {
  display: flex;
  align-items: center;
}

table a {
  color: #000;
}