
.top-bar {
  margin: 1em 0;
  background: rgb(217, 217, 217);
}

.menu-container {
  display: flex;
}

.main-container, .menu-container {
  width: 80%;
  margin: 0 auto;
}

.menu {
  display: flex;
  padding: .5em 0;
}

.menu__link, .menu__separator {
  font-size: 1.3em;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.menu__separator {
  position: relative;
  top: -.1em;
}

.menu__link:hover {
  color: #000;
}

.menu__link:focus {
  outline: none;
  text-decoration: underline;
}

.form-add-or-update {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  width: 500px;
  border: 1px solid black;
  border-radius: .3em;
  padding: 1em;
  background: rgb(245, 245, 245);
}

.form-element input {
  width: 100%;
}

.ingredients-list {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}

.ingredients-list li label {
  position: relative;
  top: -0.17em;
}

.error {
  color: red;
  font-size: .8em;
}

td {
  padding: .2em 0.4em;
}

.table-column-title {
  text-align: center;
  padding: .2em .4em;
}

tr:nth-child(2n) {
  background: #eee;
}

.logged-customer {
  display: flex;
  align-items: center;
}