
.menu-container {
  /* display: flex; */
  margin: 1em 0;
  background: rgb(217, 217, 217);
}

.main-container, .menu {
  width: 80%;
  margin: 0 auto;
}

.menu {
  /* display: flex; */
  padding: .5em 0;
}

.menu__link, .menu__separator {
  font-size: 1.3em;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.menu__separator {
  position: relative;
  top: -.1em;
}

.menu__link:hover {
  color: #000;
}

.menu__link:focus {
  outline: none;
  text-decoration: underline;
}

.form-add-or-update {
  width: 500px;
  border: 1px solid black;
  border-radius: .3em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  background: rgb(245, 245, 245);
}

.ingredients-list {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}

.ingredients-list li label {
  position: relative;
  top: -0.17em;
}
