<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add new ingredient</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>

  <h2>Add a new ingredient</h2>

  <form class="form-add-or-update" action="#" th:action="@{/ingredients/add}" th:object="${ingredient}" method="POST">

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" />

    <label for="price">Price: </label>
    <input type="text" th:field="*{price}" />

    <label for="stock">Stock: </label>
    <input type="text" th:field="*{stock}" />

    <input type="submit" value="Submit" />
    <a th:href="@{/ingredients/all}">Back to list of ingredients</a>

  </form>

</body>

</html>