<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fragments</title>

  <!-- ============== START - Fragments ============== -->

  <!-- Bootstrap -->
  <link th:fragment="global-styles" rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link th:fragment="global-styles" rel="stylesheet" th:href="@{/css/main.css}">

  <link sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_COOK')" th:fragment="global-styles" rel="stylesheet"
    th:href="@{/css/employees-role-based-group-1.css}">

  <link sec:authorize="hasAnyRole('ROLE_ADMIN')" th:fragment="global-styles" rel="stylesheet"
    th:href="@{/css/employees-role-based-group-2.css}">

  <link sec:authorize="hasRole('ROLE_CUSTOMER')" th:fragment="global-styles" rel="stylesheet"
    th:href="@{/css/customer.css}">

  <!-- Font awesome -->
  <script th:fragment="global-styles" src="https://kit.fontawesome.com/a9d9bb211d.js"></script>

  <!-- ============== END - Fragments ============== -->

</head>

<body>

</body>

</html>