<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pizza menu</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>

  <div th:fragment="menu-container" class="top-bar">
    <div class="menu-container">

      <nav class="menu">
        <a class="menu__link" th:href="@{/pizzas/all}">Oferta</a>
        <span class="menu__separator">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>

        <a class="menu__link" th:href="@{/ingredients/all}">Składniki pizzy</a>
        <span class="menu__separator">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>

        <a class="menu__link" th:href="@{/customers/all}">Klienci</a>
        <span class="menu__separator">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>

        <a class="menu__link" th:href="@{/orders/list}">Zamówienia</a>
      </nav>

      <div class="logged-customer ml-auto"
        th:text="${session !=null ? (session.authCustomer != null ? session.authCustomer.firstName : 'no user') : 'no session'}">
        Logged user name</div>

    </div>
  </div>

</body>

</html>