<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pizza menu</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

	<div class="menu-container">
		<div class="menu">
			<h1 class="menu__title">Menu</h1>
		
			<nav>
				<ul>
					<li>
				  		<a th:href="@{/pizza/list-all}">Oferta pizz</a>
					</li>
					<li>
				  		<a th:href="@{/ingredient/list-all}">Lista składników</a>
					</li>
				</ul>
			</nav>
			
		</div>
	</div>
	
</body>

</html>