<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List all pizzas</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home-page :: menu-container"></div>

  <div class="main-container">

    <h2>Pizzas</h2>

    <a th:href="@{add}">
      <h3>Add new pizza</h3>
    </a>

    <table border=1>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ingredients</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="pizzaDTO, itemStats : ${pizzasDTO}">
          <td th:text="${itemStats.index + 1}"></td>
          <!-- <td th:text="${#ids.seq('')}"></td> -->
          <td th:text="${pizzaDTO.name}"></td>
          <td th:text="${pizzaDTO.ingredients}"></td>
          <td th:text="${pizzaDTO.price}"></td>
          <td>
            <a th:href="@{update/{pizzaId}(pizzaId=${pizzaDTO.id})}">Update</a>
            |
            <a th:href="@{delete/{pizzaId}(pizzaId=${pizzaDTO.id})}">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>