<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update ingredient</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home-page :: menu-container"></div>

  <div class="main-container">

    <h2 class="mb-3">Update the ingredient</h2>

    <form class="form-add-or-update" action="#" th:action="@{/ingredients/update}" th:object="${ingredient}"
      method="POST">

      <input type="hidden" th:field="*{id}" />

      <label for="name">Name: </label>
      <input type="text" th:field="*{name}" />

      <label for="price">Price: </label>
      <input type="text" th:field="*{price}" />

      <label for="stock">Stock: </label>
      <input type="text" th:field="*{stock}" />

      <input type="submit" value="Submit" />
      <a style="justify-self:left" th:href="@{/ingredients/all}">Back to list of ingredients</a>

    </form>

  </div>
</body>

</html>