<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">

<head>
  <title th:text="${pizza.id} == 0 ? 'Add new pizza' : 'Update pizza'">Add or update pizza</title>
</head>

<body>
  <div layout:fragment="content" class="container-form">

    <h3 class="above-form light-transparent-area" th:text="${pizza.id} == 0 ? 'Dodaj nową pizzę' : 'Zmodyfikuj pizzę'">
      Add or update pizza</h3>

    <form class="form-add-or-update" action="#"
      th:action="@{/pizzas/{action}(action=(${pizza.id} == 0 ? 'add' : 'update'))}" th:object="${pizza}" method="POST">

      <input th:if="${pizza.id > 0}" type="text" th:field="*{id}" hidden>

      <div class="app-form-row">
        <label class="app-form-row__label--pizza" for="name">Nazwa: </label>
        <input type="text" class="app-form-row__input" th:field="*{pizzaName}" />
        <div th:if="${#fields.hasErrors('pizzaName')}" th:errors="*{pizzaName}" class="error">Za krótka lub za długa nazwa pizzy</div>
      </div>

      <div>
        <div>Wybierz składniki:</div>
        <div th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}" class="error mb-1">Za mało wybranych składników</div>
        <ul class="form-list mt-1">
          <li th:each="ingredient, itemStat : ${allIngredients}">
            <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
            <label th:for="${#ids.prev('ingredients')}" th:text="${ingredient.ingredientName}"></label>
            <!-- <label th:for="${#ids.prev('ingredients')}" th:text="${ingredient.ingredientName} + ' >>> pizzaIngrId: ' + ${{pizza.ingredients[__${itemStat.index}__]}} + ' ingrId: ' + ${ingredient.id}"></label> -->
          </li>
        </ul>
      </div>

      <div class="form-bottom-btns">
        <a class="btn btn-secondary" th:href="@{/pizzas/list}">Wróć do oferty</a>
        <input class="btn btn-success" type="submit" value="Zapisz" />
      </div>

    </form>

  </div>
</body>

</html>