<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${pizza.id} == 0 ? 'Add new pizza' : 'Update pizza'">Add or update pizza</title>
  <meta th:replace="fragments :: global-styles">
</head>

<body>
  <div th:replace="home :: menu-container"></div>

  <div class="main-container">

    <h2 class="above-form" th:text="${pizza.id} == 0 ? 'Add new pizza' : 'Update pizza'">Add or update pizza</h2>

    <form class="form-add-or-update" action="#"
      th:action="@{/pizzas/{action}(action=(${pizza.id} == 0 ? 'add' : 'update'))}" th:object="${pizza}" method="POST">

      <input th:if="${pizza.id > 0}" type="text" th:field="*{id}" hidden>

      <label class="mb-0" style="align-self: center" for="name">Name:</label>
      <input type="text" th:field="*{pizzaName}" />

      <div class="mt-2" style="grid-column: 1/3">Select ingredients:</div>

      <ul class="ingredients-list" style="grid-column: 1/3">
        <li th:each="ingredient, itemStat : ${allIngredients}">
          <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
          <label th:for="${#ids.prev('ingredients')}" th:text="${ingredient.ingredientName}"></label>
          <!-- <label th:for="${#ids.prev('ingredients')}" th:text="${ingredient.ingredientName} + ' >>> pizzaIngrId: ' + ${{pizza.ingredients[__${itemStat.index}__]}} + ' ingrId: ' + ${ingredient.id}"></label> -->
        </li>
      </ul>

      <div style="grid-column: 1/3">
        <a class="btn btn-primary" th:href="@{/pizzas/list}">Back to list of pizzas</a>
        <input class="btn btn-success" type="submit" value="Submit" />
      </div>

    </form>

  </div>
</body>

</html>